<!DOCTYPE html>
<html ng-app="changeMakerApp">
<head>
	<title>
		App To Make Change
	</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

	<script type="text/javascript" src="change-maker.js"></script>
</head>
<body ng-controller="changeMakerController">

<!-- 3. Instructor Rob used to work at a super market as a cashier. His work experience there has made him an expert in making change.

Write an app to make the change needed - in quarters, dimes, nickels, and pennies - given the bill amount, and the given amount.

The app should have

1. A number input to enter the bill amount.
2. A number input to enter the given amount.
3. A "Make change!" button
4. When the "Make change!" button is clicked, it should display the number of coins for each coin type that are needed. For example:

  * 4 quarters
  * 3 dimes
  * 0 nickels
  * 2 pennies

5. Display the coin image next to the number
5. Bonus: Instead of displaying the numbers, display the correct number of coins.
 -->

<div class="container-fluid">
	<div class="panel panel-default">
		
		<div class='panel-heading'>
			<h1>Cash Register</h1>
			<hr />
			<div ng-show='total'>
				Total: {{total | currency}}
			</div>
			<div ng-show="paid">
				Amount Paid: {{paid | currency}}
			</div>
			<div ng-show="totalDue">
				Change Due: {{totalDue}}
			</div>
		</div>

		<div class="panel panel-body">
			<form class="form-horizontal">
				<div class="form-group">
					<div class="col-md-3">
						<div class="input-group">
							<div class="input-group-addon">$</div>
							<input class="form-control input-lg" type='text' ng-model='total'>
						</div>
						<span class="help-block help-block-label">Total Amount</span>
					</div>
					<div class="col-md-2">
						<div class="input-group">
							<div class="input-group-addon">$</div>
							<input class="form-control input-lg" type='text' ng-model='paid'>
						</div>	
							<span class="help-block help-block-label">Paid Amount</span>
					</div>
					<div class="col-md-2">
						<button class="btn btn-lg btn-primary" ng-click="makeChange()">Make Change</button>
					</div>
				</div>
			</form>
			<div class="well">
				<table class="table table-striped table-condensed table-bordered">
					<tbody>
					
						<span ng-show="totalDue">Amount of Coins: {{changeArray.length}}</span> 
						<div ng-repeat="item in coinAmount track by $index">
							{{item}}
						</div>
						<hr />
						<tr>	
							<td>Coin type</td>
							<td>Coin image</td>
							<td>Coin value</td>
						</tr>

						<tr ng-repeat="change in changeArray track by $index">
							<td>{{change.name}}</td>
							<td><img ng-src="{{change.image}}"></td>
							<td>{{change.value | currency}}</td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
	
	</div>
</div>


</body>
</html>